.allright_top{
	height: 3.5%;
	width: 100%;
	border-bottom: 1px solid #999999;
}

#map{
    height: 96.5%;
	width: 100%;
}

#mapSpread{
	background: url("../images/arrow_left.png") no-repeat center;
	cursor: pointer;
	height: 88px;
	width: 20px;
	margin-left: -5px;
	top: 400px;
	position: absolute;
	z-index: 10;
}

#handleMessage{
	float: right;
	display:inline;
	width: 150px;
	height:18px;
	margin-top:4px;
	margin-right: 20px;
	color: red;
}

#clear{
	float: right;
	display:inline;
	width: 25px;
	margin-top:4px;
	margin-right: 30px;
	color: #285c95;
}

#clear:HOVER {
	text-decoration:underline; 
	cursor: pointer;
	color: blue;
}

#echart {
	position: absolute;
	top: 150px;
	right: 20px;
	width:450px;
	height:300px;
	z-index: 50;
	background-color: none;
	display: none
}